In [1]:
import os
import pandas as pd
import json
dir_list = os.listdir("Data")
 
print("Files and directories in '",  "' :")
 
# prints all files
print(dir_list)

Files and directories in ' ' :
['Household.csv', 'BenefitUnit.csv', 'Person.csv', 'PersonSubSample.csv', 'Description of variables.xlsx']

In [2]:
for f in dir_list:
    if "csv" in f:
        print(f)
        with open("Data/"+f) as f:
            first_line = f.readline().rstrip().split(",")
            print(first_line)

Household.csv
['run', 'time', 'id_household', 'dwt', 'size']
BenefitUnit.csv
['run', 'time', 'id_benefitunit', 'atriskofpoverty', 'dhh_owned', 'dhhtp_c4', 'disposableincomemonthly', 'equivaliseddisposableincomeyearl', 'id_female', 'id_household', 'id_male', 'n_children_0', 'n_children_1', 'n_children_10', 'n_children_11', 'n_children_12', 'n_children_13', 'n_children_14', 'n_children_15', 'n_children_16', 'n_children_17', 'n_children_2', 'n_children_3', 'n_children_4', 'n_children_5', 'n_children_6', 'n_children_7', 'n_children_8', 'n_children_9', 'occupancy', 'region', 'size', 'ydses_c5']
Person.csv
['run', 'time', 'id_person', 'adultchildflag', 'dag', 'dcpagdf', 'dcpen', 'dcpex', 'dcpst', 'dcpyy', 'ded', 'deh_c3', 'dehf_c3', 'dehm_c3', 'dehsp_c3', 'der', 'dgn', 'dhe', 'dhesp', 'dhh_owned', 'dhm', 'dlltsd', 'household_status', 'id_benefitunit', 'id_father', 'id_mother', 'id_partner', 'les_c4', 'les_c7_covid', 'lesdf_c4', 'lessp_c4', 'potentialearnings', 'sindex', 'sindexnormalised', 'weight', 'yearlyequivalisedconsumption', 'ynbcpdf_dv', 'yplgrs_dv', 'ypnbihs_dv', 'ypncp', 'ypnoab', 'yptciihs_dv']
PersonSubSample.csv
['run', 'time', 'id_person', 'adultchildflag', 'dag', 'dcpagdf', 'dcpen', 'dcpex', 'dcpst', 'dcpyy', 'ded', 'deh_c3', 'dehf_c3', 'dehm_c3', 'dehsp_c3', 'der', 'dgn', 'dhe', 'dhesp', 'dhh_owned', 'dhm', 'dlltsd', 'household_status', 'id_benefitunit', 'id_father', 'id_mother', 'id_partner', 'les_c4', 'les_c7_covid', 'lesdf_c4', 'lessp_c4', 'potentialearnings', 'sindex', 'sindexnormalised', 'weight', 'yearlyequivalisedconsumption', 'ynbcpdf_dv', 'yplgrs_dv', 'ypnbihs_dv', 'ypncp', 'ypnoab', 'yptciihs_dv']

In [3]:
df = pd.read_csv('Data/Person.csv',low_memory=False,index_col=None)

In [4]:
json.dumps(pd.unique(df["time"]).tolist())

'[2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025]'

In [5]:
df.size

16707054

In [9]:
df[df['id_person']==int('18455')]

,run,time,id_person,adultchildflag,dag,dcpagdf,dcpen,dcpex,dcpst,dcpyy,...,sindex,sindexnormalised,weight,yearlyequivalisedconsumption,ynbcpdf_dv,yplgrs_dv,ypnbihs_dv,ypncp,ypnoab,yptciihs_dv
14859,1,2011,18455,False,43,7.0,False,False,Partnered,10.0,...,NaN,NaN,1,0.00,10.824695,10.834326,10.834325,0.000000,0.0,0.000000
39122,1,2012,18455,False,44,7.0,False,False,Partnered,11.0,...,NaN,NaN,1,179876.28,10.834325,10.581379,10.581379,0.000000,0.0,0.000000
63905,1,2013,18455,False,45,7.0,False,False,Partnered,12.0,...,NaN,NaN,1,198606.25,2.756610,10.202026,10.202026,0.000000,0.0,0.000000
89009,1,2014,18455,False,46,7.0,False,False,Partnered,13.0,...,NaN,NaN,1,212431.28,10.492921,10.240131,10.240132,0.000000,0.0,0.000000
114306,1,2015,18455,False,47,7.0,False,False,Partnered,14.0,...,356.32144,NaN,1,221718.45,6.646146,10.664925,10.669207,5.213796,0.0,5.213796
139873,1,2016,18455,False,48,7.0,False,False,Partnered,15.0,...,452.88882,4.040507,1,216296.52,2.711978,10.981828,10.987596,5.829480,0.0,5.829480
165696,1,2017,18455,False,49,7.0,False,False,Partnered,16.0,...,488.10074,4.354655,1,365364.69,7.996414,10.721045,10.753748,7.317149,0.0,7.317149
191796,1,2018,18455,False,50,7.0,False,False,Partnered,17.0,...,505.70120,4.511680,1,283885.53,2.506727,10.336013,10.356361,6.451431,0.0,6.451431
218101,1,2019,18455,False,51,7.0,False,False,Partnered,18.0,...,506.88745,4.522263,1,213739.09,7.473194,10.760655,10.954281,9.217200,0.0,9.217200
244615,1,2020,18455,False,52,7.0,False,False,Partnered,19.0,...,528.68115,4.716698,1,337037.47,2.863267,10.663924,10.831550,8.962886,0.0,8.962886
271367,1,2021,18455,False,53,7.0,False,False,Partnered,20.0,...,545.70660,4.868593,1,299198.13,2.844062,11.024818,11.040559,6.881208,0.0,6.881208
298444,1,2022,18455,False,54,7.0,False,False,Partnered,21.0,...,518.22809,4.623440,1,218633.23,1.587961,11.021110,11.729867,11.052091,0.0,11.052091
325710,1,2023,18455,False,55,7.0,False,False,Partnered,22.0,...,592.67676,5.287643,1,850285.06,8.154825,11.031410,11.035607,5.560183,0.0,5.560183
353221,1,2024,18455,False,56,7.0,False,False,Partnered,23.0,...,640.63092,5.715473,1,487514.81,2.957999,10.752436,10.756359,5.213481,0.0,5.213481
380984,1,2025,18455,False,57,7.0,False,False,Partnered,24.0,...,634.66412,5.662239,1,294942.47,2.643658,10.759434,10.777027,6.728023,0.0,6.728023